<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
    <script type="text/javascript" src="jquery-3.6.0.min.js"></script>
</head>


<body>

    <body>
        <div class="mainbody middle">
            <form action="/signin" method="POST" class="form-box front">
                <div>
                    <h1 style="text-align: center;color: white;">會員登入 </h1>
                </div>
                <div>
                    <input class="input-normal" type="text" placeholder="UserAccount" name="email" required />
                    <input class="input-normal" type="password" placeholder="PassWord" name="password" required />
                    <button class="btn-submit" type="submit">
                        <a> 登入</a>
                    </button>
                    <style>
                        a {
                            text-decoration: none
                        }
                    </style>
                </div>
                <div>
                    <p style="margin-top: 40px">If you don't have account.Please</p>
                    <p>Click here to <a id="signup">註冊</a></p>
                    <script type="text/javascript">

                        // 点击sigup触发翻转样式
                        $("#signup").click(function () {
                            $(".middle").toggleClass("middle-flip");
                        });


                    </script>

                </div>
            </form>
            <!-- 对的你没看错，上下两个表单基本上没区别，一个front，一个back -->
            <form action="/signup" class="form-box back" method="POST">
                <div>
                    <h1 style="text-align: center;color: white;">會員註冊</h1>
                </div>
                <div>
                    <input class="input-normal" type="text" placeholder="請輸入暱稱" name="nickname" required />
                    <input class="input-normal" type="text" placeholder="UserAccount" name="email" required />
                    <input class="input-normal" type="password" placeholder="PassWord" name="password" required />
                    <button class="btn-submit" type="submit">
                        <a> 註冊</a>
                    </button>
                </div>
                <div>
                    <p style="margin-top: 40px">Have a account ? You can</p>
                    <p>Click here to <a id="login">登入</a></p>
                    <script type="text/javascript">

                        // 点击login触发翻转样式
                        $("#login").click(function () {
                            $(".middle").toggleClass("middle-flip");
                        });

                    </script>

                </div>
            </form>
        </div>
    </body>
</body>

</html>